<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">

    <title>Login page in HTML</title>
</head>

<body>

    <form action="">

        <div class="headingsContainer">
            <!-- <img src="" alt="Avatar" class="avatar"> -->
            <h3>Register</h3>
            <p>Sign up with your email and phone number</p>
        </div>


        <div class="mainContainer">
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" placeholder="Enter your first name" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" placeholder="Enter your last name" id="lname" name="lname">
            </form>
            <label for="pswrd">Country:</label>
            <input id="pass" type="text" placeholder="Enter country" name="pswrd" required>

            <br>

            <label for="username">Phone number:</label>
            <input id="name" type="text" placeholder="Enter phone number" name="username" required>

            <br><br>


            <label for="pswrd">E-mail id:</label><br>
            <input id="E-mail" type="email" placeholder="Enter Email address" name="pswrd" required>

            <br>
            <label for="pswrd">Address:</label>
            <input id="pass" type="text" placeholder="Enter address" name="pswrd" required>

            <br>
            <label for="pswrd">New Password:</label>
            <input id="pass" type="password" placeholder="Enter Password" name="pswrd" required>
            <br>
            <label for="pswrd">Confirm Password:</label>
            <input id="pass" type="password" placeholder="Enter Confirm Password " name="pswrd" required>

            <br>

            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>



            <button type="submit">Register</button>





    </form>
    <script src=""></script>
</body>

</html>