<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/contactt.css">
</head>

<body>
    <div class="container">
        <div class="contact-p">
            <div class="contact-c c1">
                <p>
                    <i class="fas fa-map-marker-alt"></i> Address <br />
                    <span> Whitefield,Bengaluru
                        <br />
                        India
                    </span>
                </p>
                <p>
                    <i class="fas fa-phone-alt"></i> Contact <br />
                    <span> 8989898989</span>
                </p>
                <p>
                    <i class=" far fa-envelope"></i> Support <br />
                    <span>contact@example.com</span>
                </p>
            </div>
            <div class="contact-c c2">
                <div class="inside-contact">
                    <h2>Contact Us</h2>
                    <h3>
                        <span id="confirm">
                    </h3>
                    <p>Name:</p>
                    <input id="txt_name" type="text" Required="required">
                    <p>Email:</p>
                    <input id="txt_email" type="text" Required="required">
                    <p>Phone Number:</p>
                    <input id="txt_phone" type="text" Required="required">
                    <p>Subject:</p>
                    <input id="txt_subject" type="text" Required="required">
                    <p>Message for us:</p>
                    <textarea id="txt_message" rows="4" cols="20" Required="required"></textarea>
                    <input type="submit" id="btn_send" value="SUBMIT">
                    
                </div>
            </div>
        </div>
    </div>
    <script src="../static/css/contactt.js"></script>
</body>

</html>